<div class='container'>
  <div>
    <mat-card>
      <div>
        <mat-card-header>
          <mat-card-title>MockServer</mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <form [formGroup]='fbForm' (ngSubmit)='submit()'>

          <mat-form-field>
            <mat-label>Имя пользователя</mat-label>
            <input type='login' matInput formControlName='login'>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input type='password' matInput formControlName='password'>
            <mat-error *ngIf='password.touched'></mat-error>
          </mat-form-field>

          <div class='button'>
            <button mat-flat-button type='submit' [disabled]='fbForm.invalid'>Войти</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
