.sidebar {
  width: 60px;
  transition: width 0.3s ease;
  background-color: white;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-right: 1px solid #4d9df1;

  &:hover {
    width: 200px;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 16px;
      color: black;
      text-decoration: none;
      transition: background-color 0.3s;
      width: 100%;

      &__person {
        padding-bottom: 36px;
      }

      &.active {
        background-color: rgba(77, 157, 241, 0.2);
        color: #4d9df1;
      }

      i {
        margin-right: 10px;
        font-size: 20px;
        line-height: 1;

      }

      .link-text {
        position: absolute;
        left: 52px;
        opacity: 0;
        transition: opacity 0.3s;
        color: black;
      }

      &.hovered .link-text {
        opacity: 1;
      }
    }
  }
}

.sidebar:hover .menu-item .link-text {
  opacity: 1;
}

