<div class="main-mocks-details__edit">
  <form class="edit-form" [formGroup]="fbForm">
    <div>
      <h2>Request</h2>
    </div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
    <div class="request-block-method-endpoint">
        <app-dropdown-method class="request-block-method-endpoint__method" [selectedMethodInput]="selectedMethod!" (selectedMethodOutput)="onMethodSelected($event)">
        </app-dropdown-method>
      <div class="request-block-method-endpoint__endpoint">
        <input type="text" id="endpoint" formControlName="endpoint">
      </div>
    </div>

    <div>
      <h2>Response</h2>
    </div>
    <div style="display: flex; flex-direction: column; gap: 10px">
      <label for="status_code">Status</label>
      <input style="width: 40px" type="text" id="status_code" formControlName="status_code">
    </div>

    <div>
      <app-response-headers [headers]="headers" (headersChange)="onHeadersChange($event)"></app-response-headers>
    </div>

    <div>
      <app-body-input [bodyInput]="bodyInput" (bodyInputChange)="onBodyInputChange($event)"></app-body-input>
    </div>

    <div class="button-container">
      <button mat-flat-button [disabled]="!fbForm.valid" (click)="saveItem()">Save</button>
      <button mat-flat-button red-button [disabled]="!selectedItem?.id" (click)="deleteItem()">Delete</button>
    </div>
  </form>
</div>
