<div class="main-mocks__list">
  <mat-card class="main-mocks__list__item"
            *ngFor="let item of mocks; let i = index"
            (click)="selectItem(i)"
            [class.selected--card]="selectedItemIndex === i">
    <mat-card-header class="card-list_item__header">
      <mat-card-title class="card-list_item__title">{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-item-block__request">
                      <span [ngClass]="{
                      'badge--get': item.method === 'GET',
                      'badge--post': item.method === 'POST',
                      'badge--put': item.method === 'PUT',
                      'badge--patch': item.method === 'PATCH',
                      'badge--delete': item.method === 'DELETE',
                      'badge--options': item.method === 'OPTIONS'
                      }" class="badge">
                        {{ item.method }}</span>
        <span class="card-item-block__request__endpoint">{{ item.url }}</span>
      </div>
      <div class="card-item-block__response">
        <span class="card-item-block__response__status">{{ item.status_code }}</span>
        <span *ngIf="item.body" class="card-item-block__response__body">{{ item.body }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>


