.mock-content__main {
  margin-left: 40px;
  padding: 32px 32px 0;
  height: 90vh;
}

.main-mocks__controls {
  padding-left: 12px;
  gap: 16px;
  display: flex;
  margin-bottom: 16px;
}

.main-mocks__details {
  display: flex;
}

.main-mocks__details__list {
  width: 460px;
}

.main-mocks__details__edit {
  flex-grow: 1;
}

