<div class='container'>
  <table mat-table [dataSource]='mocks' class='mat-elevation-z8'>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row class='hover-row' *matRowDef='let element; columns: displayedColumns;'
        [routerLink]="['/mock', element.id]"></tr>

    <ng-container matColumnDef='id'>
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef='let element' [attr.data-projectId]='element.id'>{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef='name'>
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef='let element'>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef='url'>
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef='let element'>{{ element.url }}</td>
    </ng-container>

    <ng-container matColumnDef='body'>
      <th mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell *matCellDef='let element'>{{ element.body }}</td>
    </ng-container>

    <ng-container matColumnDef='status code'>
      <th mat-header-cell *matHeaderCellDef>Status code</th>
      <td mat-cell *matCellDef='let element'>{{ element.status_code }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="editItem(element); $event.stopPropagation()">Edit</button>
        <button mat-button (click)="deleteItem(element.id); $event.stopPropagation()">Delete</button>
      </td>
    </ng-container>

  </table>

  <button mat-button [routerLink]="['/mocks/create']">Add new</button>
</div>
