.mock-main-details__list {
  padding: 12px;
  min-width: 420px;
  max-width: 420px;
  height: 80vh;
  overflow-y: auto;
  overflow-style: auto;

  &__item {
    background: white;
    cursor: pointer;
    margin-bottom: 12px;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.card-list_item__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 4px;
  font-weight: 500;
  overflow-wrap: normal;
}

.selected--card {
  border: 2px solid dodgerblue;
}

.card-item-block__request {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;

  &__endpoint {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    width: 85%;
    overflow-wrap: break-word;
  }
}

.card-item-block__response {
  display: grid;
  gap: 4px;

  &__status {
    font-size: 22px;
    line-height: 28px;
  }

  &__body {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fdfdfd;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.badge {
  padding: 4px 8px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
}

.badge--get {
  background-color: #61affe;
}

.badge--post {
  background-color: #49cc90;
}

.badge--put {
  background-color: #fca130;
}

.badge--patch {
  background-color: #50e3c2;
}

.badge--delete {
  background-color: #f93e3e;
}

.badge--options {
  background-color: #0d5aa7;
}
