.mock-content__main {
  margin-left: 90px;
  padding: 32px 32px 0;
  height: 90vh;
}

.mock-main__controls {
  padding-left: 12px;
  gap: 16px;
  display: flex;
  margin-bottom: 16px;
}

.mock-main__details {
  display: flex; /* Используем Flexbox для расположения колонок */
  }

.mock-main-details__edit {
  flex: 1;
  padding: 0 12px 12px 40px;
  height: 80vh;
  overflow-y: auto;
}

.mock-main-details__list {
  padding: 12px; /* Отступы для колонок */
  min-width: 420px;
  max-width: 420px;
  height: 80vh;
  overflow-y: auto; /* Добавляем вертикальную прокрутку */

  &__item {
    background: white;
    cursor: pointer; /* Указатель мыши при наведении на карточку */
    margin-bottom: 12px; /* Отступ между карточками */
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.card-list_item__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 4px;
  font-weight: 500;
  overflow-wrap: normal; /* Позволяет переносить длинные слова */
}

.selected--card {
  border: 2px solid dodgerblue;
}

.card-item-block__request {
  display: flex;
  align-items: center; /* Выравнивание по центру по вертикали */
  gap: 10px; /* Отступ между элементами */
  margin-bottom: 12px;

  &__endpoint {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    width: 85%;
    overflow-wrap: break-word; /* Позволяет переносить длинные слова */

  }
}

.card-item-block__response {
  display: grid;
  gap: 4px;

  &__status {
    font-size: 22px;
    line-height: 28px;
  }

  &__body {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fdfdfd;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.badge {
  padding: 4px 8px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
}

.badge--get {
  background-color: #61affe;
}

.badge--post {
  background-color: #49cc90;
}

.badge--put {
  background-color: #fca130;
}

.badge--patch {
  background-color: #50e3c2;
}

.badge--delete {
  background-color: #f93e3e;
}

.badge--options {
  background-color: #0d5aa7;
}
