.mock-content__main {
  margin-left: 40px;
  padding: 32px 32px 0;
  height: 90vh;
}

.main__controls {
  padding-left: 12px;
  gap: 16px;
  display: flex;
  margin-bottom: 16px;
}

.mock-main__details {
  display: flex;
}
