.mock-content__main {
  margin-left: 40px;
  padding: 32px 32px 0;
  height: 90vh;
}

.main-logs__controls {
  width: 408px;
  padding-left: 12px;
  gap: 16px;
  display: flex;
  margin-bottom: 16px;
}

.main-logs__controls__search-input {
  border-radius: 8px;
}

.main-logs__details {
  display: flex;
}

.main-logs__details__list {
  width: 460px;
}

.main-logs__details__details {
  flex-grow: 1;
}
