<main class="mock-content__main">
  <div class="main-logs__controls">
    <button mat-flat-button red-button (click)="clear()">Delete</button>
    <input class="main-logs__controls__search-input" type="text" [(ngModel)]="searchText" (input)="filterItems()" placeholder="Search">
  </div>
  <div class="main-logs__details">
    <div class="main-logs__details__list">
      <app-log-list [logs]="filteredLogs"
        (selectItemEventEmitter)="selectItem($event)">
      </app-log-list>
    </div>
    <div class="main-logs__details__details">
      <app-log-detail *ngIf="selectedItem" [selectedItem]="selectedItem">
      </app-log-detail>
    </div>
  </div>
</main>
