/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$azure-palette,
    ),
    typography: "JetBrains",
    density: 0,
  ));
}

.input,[type=number],[type=password],[type=text] {
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  padding: 7px 16px;
  line-height: 24px;
  text-align: left;
  background: 0 0;
}

button[mat-flat-button] {
  border-radius: 8px;
  font-size: 1.2rem;
}
